{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
      "no-plusplus": "off",
      "react/require-default-props": "off",
      "no-debugger":"off"
    },
    "overrides": [
      {
        "files": "types.js",
        "rules": {
          "import/no-mutable-exports": "off"
        }
      },
      {
        "files": ["webpack.*.js"],
        "rules": {
          "import/no-extraneous-dependencies": "off"
        }
      }
    ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules", "web_modules"]
      }
    }
  },
  "env": {
      "browser": true
    },
    "globals": {
      "process": true,
      "__ROOT_REDUCER__": true,
      "__ROOT_SAGA__": true
    }
  }
