{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
      "no-plusplus": "off",
      "react/jsx-max-props-per-line": "off",
      "import/no-mutable-exports": "off",
      "react/prefer-stateless-function" : "off",
      "no-param-reassign": "off"
    },
    "env": {
      "browser": true
    },
    "globals": {
      "process": true,
      "__ROOT_REDUCER__": true,
      "__ROOT_SAGA__": true
    }
  }