<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>派工单系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="./mydist/video-js.min.css" rel="stylesheet">
    <link href="./mydist/index.css" rel="stylesheet">
    <script src="./mydist/video.min.js"></script>
    <script src="./mydist/videojs-flash.min.js"></script>
    <style type="text/css">
        .anchorBL{
            display:none;
        }
        html,body{
            height: 100%;
            padding: 0;
            margin: 0;
            min-width:1000px;
        }
    </style>
    <link href="https://statics.sheinside.cn/common/antd/3.1.0/antd.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/shineout/dist/theme.default.css" />

    <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />-->
</head>
<body>
<div id="container" style="height: 100%;margin:0;padding:0"></div>
<script src="https://statics.sheinside.cn/common/??babel-polyfill/6.26.0/polyfill.min.js,lodash/4.17.4/lodash.min.js,"></script>

<!--<script src="https://statics.sheinside.cn/common/??babel-polyfill/6.26.0/polyfill.min.js,react/16.2.0/umd/react.production.min.js,react-dom/16.2.0/umd/react-dom.production.min.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/umd/react.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.1/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>

<script src="https://statics.sheinside.cn/common/moment/2.18.1/moment.min.js"></script>
<!--<script src="https://statics.sheinside.cn/common/antd/3.1.0/antd.min.js"></script>-->

<script crossorigin src="https://unpkg.com/shineout/dist/shineout.min.js"></script>


<script src="https://cdn.bootcss.com/antd/3.4.0/antd-with-locales.js"></script>
<script src="http://api.map.baidu.com/api?v=3.0&ak=0utVz0V8yEAAFsAYNgOpXGjFpiAl4ZTB"></script>
<!--汉字模糊搜索-->
<script type="text/javascript" src="pinyin_dict_firstletter.js"></script>
<script type="text/javascript" src="pinyinUtil.js"></script>

<!--mapbox地图-->
<!--<script src="https://api.mapbox.com/styles/v1/zhangcaochao/cjpnpuwqv13is2rpi62k2o747.html?fresh=true&title=true&access_token=pk.eyJ1IjoiemhhbmdjYW9jaGFvIiwiYSI6ImNqcGYwdXJ0bTA2M2gzd3BpZGxhZjlldDUifQ.oxTMZ2N7RLD0mJ9OkhcGLA#12.0/48.866500/2.317600/0"></script>-->


<!--<script src="echarts.js"></script>-->
<!--&lt;!&ndash; 引入百度地图扩展 &ndash;&gt;-->
<!--<script src="echarts-bmap.js"></script>-->

<!-- external dependencies -->
<script src="http://webapi.amap.com/maps?v=1.3&key=YOUR_AMAP_API_KEY&plugin=AMap.CustomLayer"></script>
<script src="http://cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

<!--exportExcel-->
<script src="https://cuikangjie.github.io/JsonExportExcel/dist/JsonExportExcel.min.js"></script>





</body>
</html>
