.firstLine{
    display: flex;
    margin-bottom: 10px;
}

.firstLine .firstTips{
    line-height: 27px;
    margin-left: 20px;
    flex-basis: 150px;
}


.secendLine {
    display: flex;
    margin-bottom: 10px;
}

.secendLine .secendTips{
    line-height: 21px;
    margin-left: 20px;
    flex-basis: 150px;
}

.thirdLine{
    display: flex;
}

.thirdLine .thirdTips{
    line-height: 21px;
    margin-left: 20px;
    flex-basis: 150px;
}


.map{
    /*position:relative;*/
    /*left: 0px;*/
    /*top:0px;*/
    /*right: 0px;*/
    /*height: 800px;*/
    /*padding: 30px;*/
    height: 600px;
    margin-top: 20px;
}

.mapLeft{
    margin-left: 20px;
    display: flex;
    flex-wrap:wrap;
}

.mapLeft>div {
    width: 150px;
}

.mapRight{
    width:100%;
    height: 100% !important;
}

.mapPerson{
    position:relative;
    left: 0px;
    top:0px;
    right: 0px;
    height: 800px;
    padding: 30px;
}

.mapPerson>div{
    height: 100% !important;
}
