.inputBox, .selectBox {
    width: 154px;
}
.inputItem {
    margin: 10px 30px 10px 0;
}
.itemTitle {
    width: 7em;
    margin-right: 1em;
    display: inline-flex;
    justify-content: flex-end;
}
.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
}
.handleBox {
    margin: 10px 10px 15px 0;
}