.all{
    display: flex;
    flex-direction: row;
}

.left{
    border: 1px solid black;
    flex-basis: 200px;
    margin-right: 40px;
}

.leftItem{
    font-size: 18px;
    color:#1890ff;
}

.right{
    border: 1px solid black;
    flex-grow:1;
}
