.all{
    display: flex;
    flex-direction: row;
}

.left{
    flex-basis: 200px;
    margin-right: 40px;
    height: 500px;
    border-right: 5px solid black;
    overflow:scroll;
}

.leftItem{
    font-size: 18px;
    color:#1890ff;
}

.right{
    /*border: 1px solid black;*/
    flex-grow:1;
}
