.antLayoutAside {
    position: relative;
    min-height: 100%;
}
.antLayoutLogo {
    width: 100%;
    height: 32px;
    margin: 8px 0 4px 0;
    color:rgba(255,255,255,.8);
    font-size:20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.antLayoutSider {
    width: 180px;
    position: fixed;
    z-index: 100;
    height: 100%;
    background-color: #404040;
    transition: all 0.3s ease ;
}

.antLayoutMain {
    margin-left: 180px;
    height:100%;
    transition: all 0.3s ease ;
    background-color: #fff;
}

.antLayoutContent {
    padding:10px;
}

.antLayoutright{
    margin-left: auto;
    margin-right:30px;
    align-items: center;
    display: flex;
}
.logout{
    margin-right:10px;
    color: #fff;
}

.top_margin {
    display: flex;
    flex: 1;
    align-items: center;
}
.antLayouttop{
    padding: 8px 0;
    display: flex;
    background-color: #404040;
    border-bottom: 1px solid #efefef;
}
a.linkcolor{
    color: rgba(0,0,0,.65);
    color: #fff;
}
.expandBtn{
    margin-right: 10px;
    border: none;
    color:rgba(0,0,0,.65);
    color: #fff;
}
a:focus{
    text-decoration: none;
}
.contentTitle {
    font-size: 80px;
    text-align: center;
    color: #00345c;
    margin-top: 200px;
    text-shadow: 4px 4px 10px #aaa;
}
/*.bodyBox {*/
/*padding: 5px;*/
/*width: calc(100% - 185px);*/
/*}*/
@media screen and (max-width: 640px) {
    .antLayoutSider, .antLayouttop {
        display: none;
    }
    .antLayoutMain {
        margin-left: 0;
    }
    .mobileBack {
        display: none;
    }
}