.firstLine{
    display: flex;
    margin-bottom: 10px;
}

.firstLine .firstTips{
    line-height: 27px;
    margin-left: 20px;
    flex-basis: 150px;
    flex-shrink: 0;
}

.secendLine {
    display: flex;
    margin-bottom: 10px;
}

.secendLine .secendTips{
    line-height: 21px;
    margin-left: 20px;
    flex-basis: 150px;
}

.thirdLine{
    display: flex;
}

.thirdLine .thirdTips{
    line-height: 21px;
    margin-left: 20px;
    flex-basis: 150px;
}

.workRateIncModal{
    width: 500px;
    height: 500px;
    overflow: scroll;
}
